{% extends '_base.html' %}

{% block title %}Home{% endblock %}

{% block header %}My Django Site{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="flex justify-center items-center h-screen">
            <h1 class="text-4xl font-bold text-gray-800">Welcome to my site, {{ user.username }}!</h1>
        </div>
    {% else %}
        <div class="flex justify-center items-center h-screen">
            <h1 class="text-4xl font-bold text-gray-800">Please sign in to access this page.</h1>
        </div>
    {% endif %}
{% endblock %}