{% extends '_base.html' %}

{% block title %}Log In{% endblock %}

{% block header %}My Django Site{% endblock %}

{% block content %}
    <div class="flex justify-center items-center h-screen">
        <form class="w-full max-w-sm" method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="inputEmail">
                    Email
                </label>
                <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="inputEmail" name="email" type="email" 
                placeholder="Email" required>
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 font-bold mb-2" for="inputPassword">
                    Password
                </label>
                <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="inputPassword" name="password" type="password" 
                placeholder="Password" required>
            </div>

            {% if login_form.errors or login_form.non_field_errors %}
                <div class="mb-3 p-6 bg-red-100 rounded-xl">
                    {% for field in login_form %}  
                        {{ field.errors }}
                    {% endfor %}
                        
                    {{ login_form.non_field_errors }}          
                </div>
            {% endif %}

            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Log In
                </button>
                <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="{% url 'password_reset' %}">
                    Forgot Password?
                </a>
            </div>
        </form>
    </div>
{% endblock %}