{% extends '_base.html' %}

{% block title %}Change Password{% endblock %}

{% block header %}My Django Site{% endblock %}

{% block content %}
    <div class="flex justify-center items-center h-screen">
        <form class="w-full max-w-sm" method="POST">
            {% csrf_token %}
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="id_old_password">
                    Old Password
                </label>
                <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="id_old_password" name="old_password" 
                type="password" placeholder="Old Password" required>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="id_new_password1">
                    New Password
                </label>
                <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="id_new_password1" name="new_password1" 
                type="password" placeholder="New Password" required>
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 font-bold mb-2" for="id_new_password2">
                    Confirm New Password
                </label>
                <input class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="id_new_password2" name="new_password2" 
                type="password" placeholder="Confirm New Password" required>
            </div>

            {% if form.errors or form.non_field_errors %}
                <div class="mb-3 p-6 bg-red-100 rounded-xl">
                    {% for field in form %}  
                        {{ field.errors }}
                    {% endfor %}
                        
                    {{ form.non_field_errors }}          
                </div>
            {% endif %}

            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Change Password
                </button>
            </div>
        </form>
    </div>
{% endblock %}